<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/accounts.css">
    <title>Expense Tracker</title>
</head>
<body>
    <div class="header">
        <div id="drop-btn" class="drop-btn"><i class="fas fa-chevron-down"></i></div>
        <h2>Accounts</h2>
        <div><a class="login-btn" href='/auth/logout'><i class="fas fa-sign-out-alt"></i></a></div>
    </div>

    <div class="container">
        <div id="add-account-div" class="add-account-div hidden">
            <h3>Add new account</h3>
            <form id="form">
                <div class="form-control">
                <label for="title">Account name</label>
                <input type="text" id="title" placeholder="Enter account name...">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <input type="text" id="description" placeholder="Enter description...">
            </div>
            <button class="btn">Add account</button>
        </form>
        </div>
        <div id="list" class="list"></div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/accounts.js"></script>
</body>
</html>