@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 100vw; */
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0px auto 30px auto;
  width: 400px;
}

.header {
    width: 400px;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > h2 {
    margin: 0 auto;
}

.drop-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%; 
    background-color: #9c88ff;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear;
}

.add-account-div {
    max-height: 300px;
    transition: all 0.4s linear;
}

.add-account-div.hidden {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

.drop-btn.hidden {
    transform: rotate(180deg);
}

.drop-btn > i {
    color: #fff;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.account-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 10px 0;
    position: relative;
}

.inc-exp-container {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:nth-child(2) {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:hover,
.drop-btn:hover {
    background-color: #8d76ff;
}

.btn:focus,
.delete-btn:focus, 
.edit-btn:focus,
.drop-btn:focus {
  outline: 0;
}

.modify-account {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 50px;
    height: 100%;
    opacity: 0;
    border: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.delete-btn {
    cursor: pointer;
    color: #e74c3c;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
}

.edit-btn {
    cursor: pointer;
    color: #e74c3c;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
}

.account-header {
    display: flex;
    justify-content: space-between;
}

.title-row {
    display: flex;
    justify-content: space-between;
}

.drop-description {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    border-radius: 50%; 
    background-color: none;
    color: #9c88ff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-25%);
    transition: transform 0.3s linear;
}

.drop-description.hidden {
    transform: rotate(180deg) translateY(25%);
}

.drop-description:hover {
    color: #8d76ff;
}

.description-row {
    max-height: 300px;
    margin-bottom: 20px;
    transition: all 0.1s linear;
}

.description-row > p {
    overflow-wrap: break-word;
}

.description-row > p {
    margin: 0;
}

.description-row.hidden {
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
}

.account-input {
    transition: all 0.1s linear;
}

.account-input > input {
    border: 1px solid #d5d5d5;
    margin-bottom: 10px;
    color: #444;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    display: block;
}

.account-input > input:nth-of-type(2) {
    margin-bottom: 20px;
}

.account-input > input:focus {
    outline-color: rgb(179, 131, 226);
}

.edit-hidden {
    display: none;
}

.account-container:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.account-container:hover .modify-account {
    cursor: default;
    opacity: 1;
}